/* src/components/Footer.css */
.footer {
  background-color: rgb(18, 87, 255); /* Blue color */
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}
